.card{
    color: aliceblue;
    margin-bottom: 20px;
}

.list{
    margin-bottom: 10px;
    margin-left: 30px;
    
}

.title{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.price{
    margin-top: 10px;
    margin-left: 15px;
}

.action{
    padding: 0;
}