<app-header></app-header>

<mat-card *ngFor="let book of books" class = "card" appearance="outlined" >

    <mat-card-header>
        <!-- <p>deleted:{{isDeleted}}</p> -->
        <mat-card-title class="title">{{book.name}}
            
        </mat-card-title>
        <mat-card-subtitle class="list">{{book.author}}</mat-card-subtitle>
        <mat-card-subtitle  class="list">{{book.date}}</mat-card-subtitle>
        <mat-card-title class= "price">₹ {{book.price}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions class="actions"align ="end">
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
  </mat-card>