

<h2 mat-dialog-title>Add New Book</h2>
<mat-dialog-content>
  <form (Submit)="onSubmit(bookForm)" #bookForm="ngForm">
    <mat-form-field class="field">
      <input matInput placeholder="Name" ngModel name="name" required >
      
    </mat-form-field>
    <mat-form-field class="field"> 
      <input matInput placeholder="Author" ngModel name="author" required>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput id=dateInput placeholder="Date" [ngModel]="date" name="date" type="date" required (change)="onDateChanged($event)"
      >


    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="Price" ngModel name="price" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="bookForm.invalid" (click)="onSubmit(bookForm)">Add Book</button>
</mat-dialog-actions>


